name: Docker
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # Run every week at 20:00 on Sunday
    - cron: "0 20 * * 0"

env:
  REGISTRY_IMAGE: ghcr.io/${{ github.repository_owner }}/roscon_delib_ws_2024
  RAW_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
jobs:
  build:
    name: Build and push docker
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Pull image for caching
        run: |
          docker pull ${{ env.REGISTRY_IMAGE }}:latest
        continue-on-error: true
      - name: Build and start docker
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: ./docker-compose.yaml
          services: base
          up-flags: --build
      # - name: Verifying the container was built
      #   run: docker exec roscon24-workshop-base-1 colcon test
      - name: Test pyrobosim
        run: docker exec roscon24-workshop-base-1 bash -c "source /delib_ws/install/setup.bash && pytest /delib_ws/src/dependencies/pyrobosim/pyrobosim/test/core"
      - name: Push to gh registry with sha and branch name
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
          # tag with sha and push
          docker tag ${{ env.REGISTRY_IMAGE }}:latest ${{ env.REGISTRY_IMAGE }}:${{ github.sha }}
          docker push ${{ env.REGISTRY_IMAGE }}:${{ github.sha }}
          # tag with branch name and push
          export BRANCH_NAME=$(echo ${{ env.RAW_BRANCH_NAME }} | sed 's/\//-/g')
          docker tag ${{ env.REGISTRY_IMAGE }}:latest ${{ env.REGISTRY_IMAGE }}:$BRANCH_NAME
          docker push ${{ env.REGISTRY_IMAGE }}:$BRANCH_NAME
      - name: Push to gh registry with latest if this is main
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
          # only from main we actually push to latest
          docker push ${{ env.REGISTRY_IMAGE }}:latest
        if: github.ref == 'refs/heads/main'
      # TODO: Also upload tarball to release in case we need it for the thumbdrive-option at the workshop
