name: Lint
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  md-lint:
    name: Lint README.md
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Lint markdown files
        uses: DavidAnson/markdownlint-cli2-action@v17
        with:
          globs: "./*.md\ndependencies/*.md\nproblems/**/*.md\ntechnologies/**/*.md"

  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
